body{
  background-color: antiquewhite;
}
.description{
  display: flex;
  flex-wrap: wrap;
  border: solid black 1px;
  border-radius: 5px;
  padding: 10px;
  
}
.prices{
  background-color: aquamarine;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;


}
